<ion-header [translucent]="true">
  <ion-toolbar color="dark"> 
    <ion-title align="center">
      Gallery 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="full" (click)="selectSource()">Select Image</ion-button>

  <ion-card > 
    <img [src]="imagesData" class="imgPosition" (click)="fullScreenImg(imagesData)" />
      <ion-item>
        <ion-card-header > Image Text </ion-card-header>
          <ion-button class="marigins"  (click)="analizar(imagesData)"  [disabled]="!imagesData"> Analize</ion-button>  
        <ion-button class="marigins2" (click)="compareDatas()" [disabled]="!test">compare</ion-button>  
       </ion-item>
      <ion-card-content  text-wrap> <b text-wrap> {{test}} </b></ion-card-content>  
     
      <div class="textcolor" >
       <b > {{displayData}}</b>
      </div>
    </ion-card>

</ion-content>
