#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.imgPosition {
  position: relative;
  text-align: center;
  // height: 350px;
  // width:100%;
}

.iconColors {
  ion-icon{
    color: blue !important;
  }
}

ion-card-header {
  color: blue;
}

.marigins{
  margin-left: 26px;
}
.marigins2{
  margin-left:40px;
}

.textcolor{
  color: green;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
}